[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=FBReader
Type=Application
StartupWMClass=FBReader
Exec=/usr/bin/FBReader
Icon=FBReader
X-Window-Icon=FBReader
X-Window-Icon-Dimmed=FBReader
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
