0.99.1:
	DONE скачивание списка каталогов с сервера fbreader
		DONE скачивание и хранение в БД
		DONE написать миграцию (для удаления таблицы NetFiles)
		DONE убрать таблицу extras
	DONE хранить скачанные книги как в java (убрать табл. NetFiles)
	DONE добавить везде использование новых Mimetypes

	DONE добавить поддержку автоматической регистрации с SSL сертификатами
	** переписать saveLinkWithoutRefreshing
		** протестировать на обновление списка
		** что такое auto?
		** добавить поддержку хранения полей fbreader:authentication, fbreader:urlRewritingRule и fbreader:advancedSearch
			** хранить в базе или _брать с диска_?

	** FIX поиск по сетевым библиотекам (не работает корректно?)
	** снова добавить поддержку последовательного чтения данных из сети (поправив работу с заголовками -- replyReaded etc) -- для показа прогресса загрузки

	** возможность добавлять OPDS каталоги
	** network database should be implemented as a separate class, not as a part of BooksDB

	** вывод ошибки о том, что авторизация не удается
	** после скрытия каталога, сделать возможность его показать
	** возможно, BUG: при соединении с литресом по https, происходит редирект на http:
	** таймер для поддержки TimeoutOption

	** OPDS
		DONE FIX каталог "Прочтение" не грузится
		** реализовать постепенную прогрузку каталогов (сейчас все страницы подгружаются сразу)
		** реализовать поддержку относительных ссылок (проявляется в каталоге Shucang)
		** проблемы с загрузкой из feedbooks



** разделить диалог настроек на: библиеотка, look & feel, ...
	DONE сделать выпадающее меню
	DONE добавить в меню CurrentBookDialog
	DONE реалзовать остальные диалоги
	DONE добавить остальные диалоги в меню
	DONE Реализовать ShowOptionsDialogAction: что запускать??? 
	DONE Сделать правильный ресурс toolbar/preferences
	DONE "NetworkLibrary" tab: разделить настройки подключения и настройки каталогов
	DELAYED "Keys" tab: Добавить в список действий новые actions

** сделать сетевую часть как в java


DONE	в нынешнем виде ZLParseUtil не тянет на "универсальный" класс, у него ровно 1 usage. Перенести его туда.
DONE	Сделать линки для покупки на smashwords (?ref=geometer)
	DONE добавить аттрибут для <rule> : apply = ( always | external | internal )
DONE	не показывать ветки серий, в которых только 1 книга (сразу показывать книгу) - для сетевых и локальной библиотек
DELAYED: BUG: захожу на  smashwords.com; скачиваю книжку; прокручиваю несколько строк; снова захожу, скачиваю другую книжку => она открывается не в начале (видимо, на том же абзаце/слове, где была открыта предыдущая
DELAYED: регулярная загрузка данных о каталогах с fbreader.org
	** запрос должен содержать номер версии

0.14.0: всегда показывать SearchResultNode, если уж что-то нашлось
0.14.0: обрабатывать в opds теги с разделителем (slash?)
DONE: обрабатывать в opds calibre-расширение для series
DONE: проверить логику вопроса при удалении книги
0.14.0: проверить логику открытия книги (сохранение/чтение позиции) 
0.14.0: что за Account Validation на каждое открытие/закрытие каталога???
0.14.0: посмотреть ZLImage::good()
0.14.0: а точно нужно сообщение про signing out?
0.14.0: обрабатывать type="text/html"
0.14.0: BUG: вместо текста в wait-dialog появляется изображение рабочего стола...
DONE: сделать xml для litres, вынести туда все локализованные данные и все ссылки
0.14.0: аннотации к книгам в library/network view
0.14.0: разделить диалог настроек на части: program, library, text
0.14.0: вернуть "продвинутые настройки" прокрутки
0.14.0: доделать поддержку manybooks.net
0.14.0: FBReader::openFile должен добавлять в библиотеку все книги из архива
0.14.0: фильтрация библиотеки: логика
0.14.0: фильтрация библиотеки: для всех платформ
0.14.0: быстрый поиск по тексту 
0.14.0: searchField: для всех платформ
DONE: fillSeparator: логика включения/выключения разделителей
0.14.0: fillSeparator: для всех платформ
0.14.0: новый диалог открытия файла для всех платформ
0.14.0: сообщение "в архиве нет книг"
0.14.0: диалог выбора, если в архиве несколько книг

0.14.0: синхронизировать ресурсы

0.14.1: добавить перевод посредством google translate
        ** MSS: перевод чего?
0.14.1: добавить в запись (в БД) о книге информацию о времени добавления в библиотеку (в БД)
0.14.1: Через какое-то время (2 недели?) картинки в кеше должны протухать (сервер может решить показывать новые картинки в фидах)
0.14.1: докачка файлов (оч. актуально для litres)
DELAYED: authentication на smashwords
0.14.1: добавить другую организацию сетевого каталога: не по сайтам: а по типам ссылок
0.14.1: интеграция с books.google.com?
0.14.1: Показывать проценты при загрузке сетевого каталога (?)
0.14.1: Компьютер не подключен к сети =>  при попытке коннекта к litres logout меняется на login  и данные login'а забываются;  нужно учитывать причины неудачи
0.14.1: интеграция с pragprogs
0.14.1: плавная прокрутка пальцем
0.14.1: определение типа файла по mimetype
0.14.1: litres: По аналогии с "мои купленные книги" добавить "мои скачанные фрагменты" -- с возможностью просмотреть и тут же купить полную версию.
0.14.1: litres: Несколько подкаталогов внутри каталога "мои книги" -- а то там уже трудно разобраться. По авторам, по сериям?

0.14.5: UI profiles
0.14.5: закладки
0.14.5: litres: А доступа к "Корзине" в API нету?
0.14.5: litres: Нельзя ли сделать доступ к новостям litres?
0.14.5: litres: Какой-то вариант "моих книг" стоит показать и при отсутствии доступа к сети

0.12.5 Упростить NetworkLibraryItem'ы: неизменяемые и некопируемые
0.12.5 Посмотреть каталоги из http://catalog.lexcycle.com/
0.12.5 Посмотреть http://www.lulu.com/
0.12.5 проверить работу timeout'а

SHUCANG advanced search на shucang.com
LIBRUSEC сделать поддержку для lib.rus.ec

DELAYED Брать исходные картинки фидов прямо с сайтов (?)
DELAYED переместить строки из описаний каталогов в локализуемые файлы (?)
DELAYED спрятать ZLPlainAsynchronousInputStream внуть zlibrary
DELAYED не обрабатывать next link для пустых фидов (fixed at shucang.com side)
DELAYED После authentication диалога wait message'ы  показываются поверх окошка диалога, это некрасиво, нужно убрать окно сразу после нажатия на OK
	** и перерисовывать окно после этого
DELAYED в QT4 - плохо работают wait-messag'и:
	** не видно надписей
	** первый message - появляется не в центре окна, а в центре экрана???
DELAYED: почему не удается добраться до книг вот в этом каталоге? http://davidsoft.free.fr/calibre2opds/demo/_catalog/catalog.xml
	* это "ненастоящий" feed, его автор пока доволен нынешним состоянием
	* потому что в этом каталоге нету книжек: там есть только их названия и имена авторов, но непосредственно ссылок на книги нету...
	* Раньше в стандарте было написано, что д.б. хотя бы одна acquisition link, но сейчас это уже не обязательно, но желательно...
	* Так что, наверно, следует изменить поведение... Только вот что именно помещать в виде ссылок внизу?
DELAYED перенести удаление www. для feedbooks в fbreader\... ::downloadBook(...)
	** Аккуратнее: там потом есть еще проверка на "скачанность файла" по имени
	** А может таки у всех удалять. Трудно себе представить, что у кого-то добавление префикса "www." дает ВАЛИДНУЮ ссылку на ДРУГУЮ книгу
DELAYED (can't reproduce) X-System problem - fix set/restore window position (in ZLGtkApplicationWindow)

0.15.0 common code in FB2MetaInfoReader && LitResDataParser
0.15.0 Делать всю работу с сетью в отдельном треде
	** загрузка иконок не должна мешать работе
	** более интеллигентная защита от бесконечных циклов в просмотре подкаталогов (сейчас смотрим <= 10 страниц в OPDSLink)
	** "постепенная" загрузка для next links
	** Нормальный progress dialog с кнопкой Cancel
0.15.0 предусмотреть ограничения по времени на загрузку "продолжений" каталогов
0.15.0 обработка ссылок вида "открыть фид в браузере/rss ридере"
0.15.0 автоматизированное получение https сертификатов

BONJOUR сделать поддержку zeroconf/bonjour
