0.12.2: выключение на windows
0.12.2: размер окошка в windows

DONE	не можем открыть каталог litres в отсутствие сети - выдается сообщение сетевой ошибки
DONE	BUG: не скачивается файл жанров, если в начальный момент не было сети
DONE	убрать string compare для автора в NetworkSeriesNode::summary()
	(Добавлен метод NetworkLibraryCatalogItem::catalogType(). По нему выставляется тип summary внутри NodesFactory)
0.14.0: прорисовывается ненужное пространство для дополнительных ссылок у feedbooks.com
0.14.0: authentication на feedbooks
0.14.0: authentication на shucang
0.14.0: authentication на smashwords
0.14.0: Сделать линки для покупки на smashwords (?ref=geometer)
DONE	litres: При отключенной сети открытие каталога верхнего уровня долго думает без каких-либо сообщений, после этого ничего не происходит.
DELAYED (can't reproduce) X-System problem - fix set/restore window position (in ZLGtkApplicationWindow)
0.14.0: Удалять скачанный файл картинки, если картинку из него получить не удалось
0.14.0: регулярная загрузка данных о каталогах с fbreader.org
0.14.0: докачка файлов (оч. актуально для litres)
0.14.0: Через какое-то время (2 недели?) картинки в кеше должны протухать (сервер может решить показывать новые картинки в фидах)

0.14.0: обрабатывать type="text/html"
0.14.0: аннотации к книгам в library/network view
0.14.0: вернуть "продвинутые настройки" прокрутки
0.14.0: update man page (Lithuanian localization)
0.14.0: доделать поддержку manybooks.net

0.14.1: интеграция с books.google.com?
0.14.1: Показывать проценты при загрузке сетевого каталога (?)
0.14.1: Компьютер не подключен к сети =>  при попытке коннекта к litres logout меняется на login  и данные login'а забываются;  нужно учитывать причины неудачи
0.14.1: интеграция с pragprogs
0.14.1: плавная прокрутка пальцем
0.14.1: определение типа файла по mimetype
0.14.1: litres: По аналогии с "мои купленные книги" добавить "мои скачанные фрагменты" -- с возможностью просмотреть и тут же купить полную версию.
0.14.1: litres: Несколько подкаталогов внутри каталога "мои книги" -- а то там уже трудно разобраться. По авторам, по сериям?

0.14.5: UI profiles
0.14.5: закладки
0.14.5: litres: А доступа к "Корзине" в API нету?
0.14.5: litres: Нельзя ли сделать доступ к новостям litres?
0.14.5: litres: Какой-то вариант "моих книг" стоит показать и при отсутствии доступа к сети

0.12.5 Упростить NetworkLibraryItem'ы: неизменяемые и некопируемые
0.12.5 Посмотреть каталоги из http://catalog.lexcycle.com/
0.12.5 проверить работу timeout'а
0.12.5 кешировать содержимое каталога не по Item'у, а по URL (в некоторых деревьях они (URL) иногда повторяются)
0.12.5 список каталогов должен лежать на сайте fbreader.org и апдейтиться автоматически
0.12.5 common code in FB2MetaInfoReader && LitResDataParser

SHUCANG advanced search на shucang.com
LIBRUSEC сделать поддержку для lib.rus.ec

DELAYED Брать исходные картинки фидов прямо с сайтов (?)
DELAYED переместить строки из описаний каталогов в локализуемые файлы (?)
DELAYED спрятать ZLPlainAsynchronousInputStream внуть zlibrary
DELAYED не обрабатывать next link для пустых фидов (fixed at shucang.com side)
DELAYED После authentication диалога wait message'ы  показываются поверх окошка диалога, это некрасиво, нужно убрать окно сразу после нажатия на OK
	** и перерисовывать окно после этого
DELAYED в QT4 - плохо работают wait-messag'и:
	** не видно надписей
	** первый message - появляется не в центре окна, а в центре экрана???

0.15.0 Делать всю работу с сетью в отдельном треде
	** загрузка иконок не должна мешать работе
	** более интеллигентная защита от бесконечных циклов в просмотре подкаталогов (сейчас смотрим <= 10 страниц в OPDSLink)
	** "постепенная" загрузка для next links
	** Нормальный progress dialog с кнопкой Cancel
0.15.0 предусмотреть ограничения по времени на загрузку "продолжений" каталогов
0.15.0 обработка ссылок вида "открыть фид в браузере/rss ридере"
0.15.0 автоматизированное получение https сертификатов
