* NP
  ** run browser correctly on mac
  DONE fix crash when book info window opens
  ** review async-network-ui branch
  ** better icon for books with no covers
  ** find waiting icon in .svg 

* new network library UI (in a separate window, with asynchronous calls)

	DONE can not open feedbooks catalog item: it said 'Catalog is empty'
	DONE синхронизировать код ePub из FBReaderJ/native
	DONE удалить "Bound to IP" в диалоге входа Литрес, считать, что флаг всегда стоит
	DONE при использовании API убрать "лишние" сортировки
	DONE for items, use standard frame border for "3d" view
	DONE by default, window should be vertically splitted into 50:50 parts
	DONE min horizontal size for each part (catalogs list & book info) should be 1/3 of full window width
	DONE if I resize window, "parts" should be resized proportionally
	DONE BUG: if click for book items too quicky, there's several previews appeared
	DONE double click on list item should expand the catalog
	DONE in book info view, one scroller for all items should be used
	DONE move all buttons except 'open catalog/expand' to right panel
	DONE remove ZLExecutionData; remove RTTI info & checks in ZLNetworkRequest usages
	DONE implement waiting icon for catalog items
		DONE what if we loading two items at the same time, last should be opened
		DONE what if try to load element several times
	DONE additional links for books from feedbooks feed (fix OPDS parser?)
	DONE icons for feedbooks subcatalog
	DONE loading icons with relative link (prestigio catalog use it)
	DONE Show correct tag names for books from feedbooks feed
	DONE implement progress showing for book downloading

	DONE async covers loading
	** implement async full information loading
	** back/forward buttons (with arrows)

	** implement actions reloading after some actions pushed

	?? implement progress showing for book downloading like a progress bar
	** implement async buying of book
	** BUG: at litres "popular books" there's no waiting icon! (looks like this widget doesn't appears because of too long title)
	** block action-button when pushed (downloading, buying, etc)
	** partial catalogs loading (first 20 books only)
	** "standard search look" for search field
	** implement waiting icon for related action items
	** generic.xml async loading
	** error (for i.e. timeout) message showing
	** sign in into protected parts of catalogs (feedbooks, wolne lectury)
	** ask manybooks.net to change their OPDS (incorrect using of full entries)

	** set sensible default height with ability to shrink it
	** add better icon for books with no covers
	** in book info window show "related links" section
		DONE implement related links in litres
		DONE implement related links support for OPDS
		*** refactoring: new UrlInfoCollection class
		*** implement ability to open related links in browser
		*** 'Also read with this book' -- is correct phrase?
		*** m.b. add to other resources phrases 'also read' and etc

	* асинхронная работа с сетью:
		* загрузка списка библиотек с сервера
		* загрузка картинок
		DONE загрузка подэлементов пункта
		* подстраничка подгрузки данных
		DONE загрузка книги
		* покупка книги

	* UI
		* list widget - не увеличивать маленькие обложки, а просто центрировать
		* BUG: preview widget - если поле отсутсвует, вместо него просто пустое пространство
		* BUG: list widget - при загрузке элементов, они растягиваются по всему доступному месту.	
		? добавить сохранение геометрии окна
		* закрывать окно библиотеки при нажатии кнопки "скачать"
		* preview widget - добавить перевод для полей в book info для всех языков, кроме русского
		* прогрессбар на плашке с книгой при ее загрузке
					* что будет происходить, если гружу две книги -- какую открыть?
				* обработка особенных ситуаций:
					* что происходит, когда нажимаем кнопку "Сетевая библиотека" несколько раз подряд?
					* что происходит, если запросить requestChildren дважды подряд?
		? реализовать кнопку "Обновление тек. пункта"
		* реализовать обновление списка пунктов каталога после sign in / sign out
		* bug: actions должны обновляться после sign in / sign out
		* algorithms
				* реализовать постраничную подгрузку данных (сейчас из OPDS скачивается все сразу)
				* реализовать постепенную загрузку обложек
					* только тех, что на экране (отложенная загрузка)
					* м.б. + 1 экран вперед?
			* функциональность
				* реализовать поиск
				* поддержка rel="related" ссылок из full entry
					* приводить preview обложку к удобному размеру
				* related для litres:
					** поддержка "книги этой серии"
					DONE поддержка "также читают"
					DONE поддержка "все книги этого автора"		
			? реализовать фильтр сетевых каталогов по языку (как в FBReaderJ)
			* возможность "прятать" отдельные каталоги

		DONE добавить splitter
		DONE отделение items друг от друга
		DONE splitter - соотношение виджетов по умолчанию должно быть примерно 2:1
		DONE list widget -- selectable items
		DONE preview widget -- добавить прокрутку как в андроиде
		DONE preview widget - всегда какая-то информация справа
		DONE preview widget - для BookItem поменять размер для обложки
		DONE закрывать окно библиотеки при нажатии кнопки "открыть книгу"
		DONE preview widget - для BookItem добавить обозначения "название", "авторы" и т.п.
		DONE preview widget - скрывать пустые поля
		DONE itemlist wiget - ссылки -> кнопки
		DONE показ waiting icon на плашке при загрузке, до тех пор, пока не загрузится
		DONE показывать action как ссылки на плашках
		DONE bug: при переходе в др. каталог, нужно "перематывать" список наверх
		DONE bug: если в поддереве мало элементов, то они показываются "посередине"
		DONE bug: размер места под пункты меню может быть гораздо больше, чем самих пунктов
		DONE для NetworkBookTree показывать preview
			DONE actionы в этом случае показываются в виде кнопок снизу
			DONE реализовать подгрузку данных из OPDS каталога по rel="alternate" ссылке (Full Entry)
			DONE выводить: название, автор, категории и описание
	

* добавить каталог ParkReader с его собственным API

* перейти на API от LitRes
	* maybe реализовать доступ к API через POST запросы (так написано в документации к LitRes API)
	* на сервере: 
		* поправить неправильные ссылки в generic-1.8
		* поправить неправильные ссылки (на litres2) в litres3/index.php5 и др.
		* поправить дату xml файла, для корректного обновления в программе
		* ошибка в скрипте litres3/topAuthors.php5
	DONE bug: добавить передачу параметра lfrom при покупке книги (и при др. действиях тоже?)
	* релизовать постраничную подгрузку данных (используя параметр limit)
	* maybe заменить метод получения текущего счета (при инициализации)
	DONE добавить поддержку пункта "Рекомендации"
	DONE добавить классификацию в LitresBookShelfItem
		DONE добавить перевод надписей в bookshelf в файлы ресурсов (кроме ru и en)
		DONE реализовать возможность группировки по автору, серии (как в FBReaderJ)
	* реализовать simple & advanced search через API от LitRes
	DONE реализовать поддержку пункта "По жанрам" 
	DONE реализовать поддержку пунтка "Популярные авторы"
		DONE парсер для списка авторов
	* сделать поддержку иконки одного жанра для пункта "По жанрам" и одного автора в "Популярные авторы"
	DONE реализовать поддержку пунтка "Авторы по буквам"
	* bug: залогинились, загрузили мои книги, перелогинились -- книге те же (+ похоже, что при заходе под др. пользователям, даже sid остается тот же)
	DONE код для создания LitRes API Items перенести из NetworkOPDSFeedReader в др. место
	

0.99.1:
	DONE do not freeze program for an undeterminate time on start
	DONE use program icon from android version; we have this icon in SVG format; generate all files we need

	DONE download network catalogs list on network library start not on the program start
		DONE и должен загружаться, только если прошло длительное время со времени посл. синхронизации с сервером FBReader
	DONE show informative message during catalogs list loading
	DONE перезагрузка ссылок, если не удалось загрузить их, при последующей загрузке сетевой библиотеки

	** what does FBReader do at first start
		* a) if network is available
		* b) if network is unavailable
		* c) if network is "partially avalialbe" (e.g. data.fbreader.org is not available)
		* d) if network was unavailable, and then is available
	** downloading network catalogs list in background, do not freeze program

	DONE скачивание списка каталогов с сервера fbreader
		DONE скачивание и хранение в БД
		DONE написать миграцию (для удаления таблицы NetFiles)
		DONE убрать таблицу extras
	DONE хранить скачанные книги как в java (убрать табл. NetFiles)
	DONE добавить везде использование новых Mimetypes

	DONE добавить поддержку автоматической регистрации с SSL сертификатами
	DONE переписать saveLinkWithoutRefreshing
		DONE протестировать на обновление списка
		DONE BUG: при добавлении поля программа падает
	DONE добавить поддержку хранения полей fbreader:authentication, fbreader:urlRewritingRule и fbreader:advancedSearch

	DONE network database should be implemented as a separate class, not as a part of BooksDB

	** снова добавить поддержку последовательного чтения данных из сети (поправив работу с заголовками -- replyReaded etc) -- для показа прогресса загрузки

	** возможность добавлять OPDS каталоги

	DONE вывод ошибки о том, что авторизация не удается
	** после скрытия каталога, сделать возможность его показать
	** возможно, BUG: при соединении с литресом по https, происходит редирект на http:
	DONE таймер для поддержки TimeoutOption

	DONE FIX каталог "Прочтение" не грузится
	** реализовать постепенную прогрузку каталогов (сейчас все страницы подгружаются сразу)
	** реализовать поддержку относительных ссылок (проявляется в каталоге Shucang)
	** реализовать показ только тех каталогов, которые подходят пользователю по языку (??)
	DONE проблемы с загрузкой из feedbooks (проблема сайта, отправил ticket https://feedbooks.zendesk.com/requests/3639)

** разделить диалог настроек на: библиеотка, look & feel, ...
	DONE сделать выпадающее меню
	DONE добавить в меню CurrentBookDialog
	DONE реалзовать остальные диалоги
	DONE добавить остальные диалоги в меню
	DONE Реализовать ShowOptionsDialogAction: что запускать??? 
	DONE Сделать правильный ресурс toolbar/preferences
	DONE "NetworkLibrary" tab: разделить настройки подключения и настройки каталогов
	DELAYED "Keys" tab: Добавить в список действий новые actions

** сделать сетевую часть как в java


DONE	в нынешнем виде ZLParseUtil не тянет на "универсальный" класс, у него ровно 1 usage. Перенести его туда.
DONE	Сделать линки для покупки на smashwords (?ref=geometer)
	DONE добавить аттрибут для <rule> : apply = ( always | external | internal )
DONE	не показывать ветки серий, в которых только 1 книга (сразу показывать книгу) - для сетевых и локальной библиотек
DELAYED: BUG: захожу на  smashwords.com; скачиваю книжку; прокручиваю несколько строк; снова захожу, скачиваю другую книжку => она открывается не в начале (видимо, на том же абзаце/слове, где была открыта предыдущая
DELAYED: регулярная загрузка данных о каталогах с fbreader.org
	** запрос должен содержать номер версии

0.14.0: всегда показывать SearchResultNode, если уж что-то нашлось
0.14.0: обрабатывать в opds теги с разделителем (slash?)
DONE: обрабатывать в opds calibre-расширение для series
DONE: проверить логику вопроса при удалении книги
0.14.0: проверить логику открытия книги (сохранение/чтение позиции) 
0.14.0: что за Account Validation на каждое открытие/закрытие каталога???
0.14.0: посмотреть ZLImage::good()
0.14.0: а точно нужно сообщение про signing out?
0.14.0: обрабатывать type="text/html"
0.14.0: BUG: вместо текста в wait-dialog появляется изображение рабочего стола...
DONE: сделать xml для litres, вынести туда все локализованные данные и все ссылки
0.14.0: аннотации к книгам в library/network view
0.14.0: разделить диалог настроек на части: program, library, text
0.14.0: вернуть "продвинутые настройки" прокрутки
0.14.0: доделать поддержку manybooks.net
0.14.0: FBReader::openFile должен добавлять в библиотеку все книги из архива
0.14.0: фильтрация библиотеки: логика
0.14.0: фильтрация библиотеки: для всех платформ
0.14.0: быстрый поиск по тексту 
0.14.0: searchField: для всех платформ
DONE: fillSeparator: логика включения/выключения разделителей
0.14.0: fillSeparator: для всех платформ
0.14.0: новый диалог открытия файла для всех платформ
0.14.0: сообщение "в архиве нет книг"
0.14.0: диалог выбора, если в архиве несколько книг

0.14.0: синхронизировать ресурсы

0.14.1: добавить перевод посредством google translate
        ** MSS: перевод чего?
0.14.1: добавить в запись (в БД) о книге информацию о времени добавления в библиотеку (в БД)
0.14.1: Через какое-то время (2 недели?) картинки в кеше должны протухать (сервер может решить показывать новые картинки в фидах)
0.14.1: докачка файлов (оч. актуально для litres)
DELAYED: authentication на smashwords
0.14.1: добавить другую организацию сетевого каталога: не по сайтам: а по типам ссылок
0.14.1: интеграция с books.google.com?
0.14.1: Показывать проценты при загрузке сетевого каталога (?)
0.14.1: Компьютер не подключен к сети =>  при попытке коннекта к litres logout меняется на login  и данные login'а забываются;  нужно учитывать причины неудачи
0.14.1: интеграция с pragprogs
0.14.1: плавная прокрутка пальцем
0.14.1: определение типа файла по mimetype
0.14.1: litres: По аналогии с "мои купленные книги" добавить "мои скачанные фрагменты" -- с возможностью просмотреть и тут же купить полную версию.
0.14.1: litres: Несколько подкаталогов внутри каталога "мои книги" -- а то там уже трудно разобраться. По авторам, по сериям?

0.14.5: UI profiles
0.14.5: закладки
0.14.5: litres: А доступа к "Корзине" в API нету?
0.14.5: litres: Нельзя ли сделать доступ к новостям litres?
0.14.5: litres: Какой-то вариант "моих книг" стоит показать и при отсутствии доступа к сети

0.12.5 Упростить NetworkLibraryItem'ы: неизменяемые и некопируемые
0.12.5 Посмотреть каталоги из http://catalog.lexcycle.com/
0.12.5 Посмотреть http://www.lulu.com/
0.12.5 проверить работу timeout'а

SHUCANG advanced search на shucang.com
LIBRUSEC сделать поддержку для lib.rus.ec

DELAYED Брать исходные картинки фидов прямо с сайтов (?)
DELAYED переместить строки из описаний каталогов в локализуемые файлы (?)
DELAYED спрятать ZLPlainAsynchronousInputStream внуть zlibrary
DELAYED не обрабатывать next link для пустых фидов (fixed at shucang.com side)
DELAYED После authentication диалога wait message'ы  показываются поверх окошка диалога, это некрасиво, нужно убрать окно сразу после нажатия на OK
	** и перерисовывать окно после этого
DELAYED в QT4 - плохо работают wait-messag'и:
	** не видно надписей
	** первый message - появляется не в центре окна, а в центре экрана???
DELAYED: почему не удается добраться до книг вот в этом каталоге? http://davidsoft.free.fr/calibre2opds/demo/_catalog/catalog.xml
	* это "ненастоящий" feed, его автор пока доволен нынешним состоянием
	* потому что в этом каталоге нету книжек: там есть только их названия и имена авторов, но непосредственно ссылок на книги нету...
	* Раньше в стандарте было написано, что д.б. хотя бы одна acquisition link, но сейчас это уже не обязательно, но желательно...
	* Так что, наверно, следует изменить поведение... Только вот что именно помещать в виде ссылок внизу?
DELAYED перенести удаление www. для feedbooks в fbreader\... ::downloadBook(...)
	** Аккуратнее: там потом есть еще проверка на "скачанность файла" по имени
	** А может таки у всех удалять. Трудно себе представить, что у кого-то добавление префикса "www." дает ВАЛИДНУЮ ссылку на ДРУГУЮ книгу
DELAYED (can't reproduce) X-System problem - fix set/restore window position (in ZLGtkApplicationWindow)

0.15.0 common code in FB2MetaInfoReader && LitResDataParser
0.15.0 Делать всю работу с сетью в отдельном треде
	** загрузка иконок не должна мешать работе
	** более интеллигентная защита от бесконечных циклов в просмотре подкаталогов (сейчас смотрим <= 10 страниц в OPDSLink)
	** "постепенная" загрузка для next links
	** Нормальный progress dialog с кнопкой Cancel
0.15.0 предусмотреть ограничения по времени на загрузку "продолжений" каталогов
0.15.0 обработка ссылок вида "открыть фид в браузере/rss ридере"
0.15.0 автоматизированное получение https сертификатов

BONJOUR сделать поддержку zeroconf/bonjour
