[Desktop Entry]
Comment=E-book reader
Exec=bin/FBReader.sh
BigIcon=pics/FBReader-b.png
Icon=pics/FBReader-s.png
Version=0.8.11
Type=Application
Name=FBReader
Category=Office
Description=E-book reader
Vendor=Geometer Plus
Version=0.8.13
Shared=2
