Source: fbreader
Section: text
Priority: optional
Maintainer: Nikolay Pultsin <geometer@fbreader.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 5.0.22), libgtk2.0-dev, libqt3-mt-dev, libqt4-dev, libexpat1-dev, libenca-dev, libbz2-dev, libz-dev

Package: libzlcore
Section: libs
Priority: optional
Architecture: any
Conflicts: fbreader-gtk, fbreader-qt, fbreader-qt4
Depends: ${shlibs:Depends}
Description: Core part of zlibrary
 This package provides core part of zlibrary.
 .
 Home page: http://www.fbreader.org/

Package: libzltext
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Text model/viewer from zlibrary
 This package provides text model/viewer part of zlibrary.
 .
 Home page: http://www.fbreader.org/

Package: libzlui-gtk
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Provides: libzlui
Description: Gtk interface module for zlibrary
 This package provides gtk+-based UI for zlibrary.
 .
 Home page: http://www.fbreader.org/

Package: libzlui-qt
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Provides: libzlui
Description: Qt3 interface module for zlibrary
 This package provides qt3-based UI for zlibrary.
 .
 Home page: http://www.fbreader.org/

Package: libzlui-qt4
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Provides: libzlui
Description: Qt4 interface module for zlibrary
 This package provides qt4-based UI for zlibrary.
 .
 Home page: http://www.fbreader.org/

Package: fbreader
Priority: optional
Architecture: any
Replaces: fbreader-gtk, fbreader-qt, fbreader-qt4
Depends: ${shlibs:Depends}, libzlui
Description: e-book reader
 FBReader is an e-book reader for UNIX/Windows computers.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports structured view for your e-book collection
  * automatically determines encoding
  * automatically generates table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
 Home page: http://www.fbreader.org/
