Source: fbreader
Section: text
Priority: optional
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5.0.22), libgtk2.0-dev, libqt3-mt-dev, libqt4-dev, libexpat1-dev, libbz2-dev, libz-dev, liblinebreak-dev

Package: fbreader
Priority: optional
Architecture: any
Replaces: fbreader-gtk, fbreader-qt, fbreader-qt4
Depends: ${shlibs:Depends}, libzlui
Description: e-book reader
 FBReader is an e-book reader.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports a structured view of your e-book collection
  * automatically determines encodings
  * automatically generates a table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
  Homepage: http://www.fbreader.org/

Package: libzlcore
Section: libs
Priority: optional
Architecture: any
Conflicts: fbreader-gtk, fbreader-qt, fbreader-qt4
Depends: ${shlibs:Depends}
Description: zlibrary core
 This is the core of zlibrary, the library that the fbreader e-book reader
 is based on.

Package: libzltext
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, libzlcore (= ${Source-Version})
Description: zlibrary text model/viewer
 This package provides text model/viewer part of zlibrary.

Package: libzlui-gtk
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, libzlcore (= ${Source-Version})
Provides: libzlui
Description: Gtk interface module for zlibrary
 This package provides a gtk+-based UI for zlibrary.

Package: libzlui-qt
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, libzlcore (= ${Source-Version})
Provides: libzlui
Description: Qt3 interface module for zlibrary
 This package provides a qt3-based UI for zlibrary.

Package: libzlui-qt4
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, libzlcore (= ${Source-Version})
Provides: libzlui
Description: Qt4 interface module for zlibrary
 This package provides a qt4-based UI for zlibrary.

Package: libzlcore-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libzlcore (= ${Source-Version})
Description: zlibrary core - development files
 This is the core of zlibrary, the library that the fbreader e-book reader
 is based on.

Package: libzltext-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libzltext (= ${Source-Version})
Description: zlibrary text model/viewer -development files
 This package provides text model/viewer part of zlibrary.
