Source: fbreader
Section: text
Priority: optional
Maintainer: Nikolay Pultsin <geometer@fbreader.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), libqt4-dev, libexpat1-dev, libbz2-dev, libz-dev, liblinebreak-dev (>= 1.0-1), libjpeg-dev, libfribidi-dev, libcurl-dev, quilt (>= 0.40), libsqlite3-dev

Package: fbreader
Priority: optional
Architecture: any
Replaces: fbreader-gtk, fbreader-qt, fbreader-qt4, libzlcore, libzlcore0.10, libzlcore-data, libzltext, libzltext0.9, libzltext0.10, libzltext-data, libzlui, libzlui-gtk, libzlui-qt4, libzlui-qt
Depends: ${shlibs:Depends}
Description: e-book reader
 FBReader is an e-book reader.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text, also MsWord doc files
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports a structured view of your e-book collection
  * automatically determines encodings
  * automatically generates a table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
  * search and download books from network libraries
 .
  Homepage: http://www.fbreader.org/
