build:
	@make -C zlibrary/core TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320
	@make -C zlibrary/text TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320
	@make -C zlibrary/ui TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320
	@make -C fbreader TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320

clean:
	@make TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320 clean

install-fbreader:
	@make -C fbreader TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320 DESTDIR=$(DESTDIR) RESOLUTION=240x320 do_install

install-libzlibrary:
	@make -C zlibrary/core TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320 DESTDIR=$(DESTDIR) do_install
	@make -C zlibrary/text TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320 DESTDIR=$(DESTDIR) do_install
	@make -C zlibrary/ui TARGET_ARCH=zaurus UI_TYPE=qtopia-240x320 DESTDIR=$(DESTDIR) do_install
