VERSION = $(shell cat $(CURDIR)/fbreader/VERSION)
SRCDIR = fbreader-$(VERSION)

clean:

build:

install:
	mkdir $(DESTDIR)/$(SRCDIR)
	cp -r Makefile build_packages.sh zlibrary fbreader makefiles distributions README.build $(DESTDIR)/$(SRCDIR)

package:
	tar czf fbreader-sources-$(VERSION).tgz -C $(DESTDIR) $(SRCDIR)
