Source: fbreader
Priority: optional
Maintainer: Nikolay Pultsin <geometer@fbreader.org>
Standards-Version: 3.6.1
Build-Depends: debhelper, libexpat1-dev, libbz2-dev, libz-dev, hildon-libs-dev, libosso-dev

Package: libzlibrary-maemo2
Section: user/libs
Priority: optional
Architecture: armel
Conflicts: fbreader-maemo2 (<< 0.8.0)
Depends: hildon-libs0, libatk1.0-0 (>= 1.9.0), libbz2-1.0, libc6 (>= 2.3.5-1), libexpat1 (>= 1.95.8), libgcc1 (>= 1:3.4.4), libglib2.0-0 (>= 2.8.6-1osso1), libgtk2.0-0 (>= 2:2.6.10-1.osso8), libosso1, libpango1.0-0 (>= 1.8.1), libstdc++6 (>= 3.4.4), zlib1g (>= 1:1.2.1)
Description: Platform-dependent part of fbreader
 Home page: http://www.fbreader.org/

Package: libzlibrary-maemo2-dev
Section: libdevel
Priority: optional
Architecture: armel
Replaces: libzlibrary-dev
Depends: libzlibrary-maemo2 (= ${Source-Version})
Description: zlibrary - development files
 Home page: http://www.fbreader.org/

Package: fbreader-maemo2
Section: user/tools
Priority: optional
Architecture: armel
Depends: ${shlibs:Depends}
Description: e-book reader
 FBReader is an e-book reader for UNIX/Windows computers.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports structured view for your e-book collection
  * automatically determines encoding
  * automatically generates table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
 Home page: http://www.fbreader.org/
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/
 AP+gvaeTAAAACXBIWXMAAAFDAAABQwEfSBMjAAAAB3RJTUUH1wcdFhwBWmdn
 bAAABCRJREFUSMe9lNtPXFUUxr99bnNjGJj7jQEKUyKUQSNpa2tRY2JsgqL/
 Rl8aNfHRJ+MbJpJQo03FVNoHQ0ysWkyatKkJ5da0CJWb0mFmYOjAXJj79Zzt
 A8w4IQNDx+iXnGSflW+vX/Zaa2/gCBlcAyqDa6C/QvzlA/9yg+vdKxV8g8U1
 dwRELmML163q7OmWc+f9sw8mHrl6T6szMsd4rkB2doD3932CwBRGmhrzfa2v
 XriTyWTHAaizitZbnMpg3JnHR4eC9jd/e6qJ6zXptPZ4InlP/05/IJBWWK0n
 XqN+9+LIvo/jGfFql509azForZls7mYylQ4FUkpdvf2sFA0GFoo5mQoQjmfE
 a1129oxJV+8AAHWdqj6FBqeq6RWShqaukM9qDa4BhmfEK51Wct5i0LQAgFwm
 yOOSxia3n0GG1SvL8zIHIAzPiF91Wsi54mYA8IUkUENPLsXqlaG1CahpsJsj
 4lCHmb5uMzW0FX3eMAXV9+TTrEF+8ABcGYRwRBzuMKPPZm44UYxvhEWIuh4x
 yZiFqHsKrepd7MaZbqcp73RYdIqibzMigep6pBRr5iu1owTiiPj5SRN902HR
 thdj/ogIUXsKCdbKRtdn0KwMIpkWUcfnSTlka1eEpHUhwVqZw4aLAQBzT/9g
 m5FebLFpnSVIOI9CQycSnANRz0PY5NtIZkQwUgYOS2Mpwfp2FnlNF2Ks/aib
 sgdqbe94T6mqa/+nDBRhSYe40IKobw5mfgstBgFgZYC6GaF4AfkChSfCI04b
 QdXNIqqIA4C33r4YJBD1iwuP1IRTEGOzHeSZN+fxzAt6eNFmkgEA5EoFLl3+
 AD/f/hWhcBgmhxPplbksCJsDRHVVEECp6wWnuqHRCG8gBm8gitBOcLdR9BhP
 2mQlsyRRyAUeF/regDcQhTcQQwGypyCsGRBxDBBACCl+lBACtVJWT/I8JAow
 BNjcpchKAsr8lBACMEwWx9ChT1BH90sJu6ZX/tv9e6AgUDnawOaSoKCoRYeC
 GJYr9L7YBYPFUSpTcsuHWsU8l5vw/xPoX+g/BUlinq0JRCsuK4vPB5diIf/X
 NYEEnolRir2xPsonhpc2lmeHfVM3r9ZWOklcrQaRSdHljaWZa76pG8M19YgQ
 Qiml+aM8csRXNpambngnRwdrHAZCqzVGwaRWfYuT33sefPdprVNHy6pFK58k
 HfY+mfjRM3H9k+d+GQghmT1IWU+oRKQDqFw6KV+aufOLZ3L046r36M81dySa
 ym2X6BzjfzQ9sfp4dXM8W6BhAGBZ1u13L68PfTlyP5LIhCSQRGh746fglue2
 Z3L0crWysADwLMaMub1+o8QKJBKNb63Mz3zzcOyzSwtrweRfT91ZygqR3yfv
 jv0xPvRhEpq7s9PTheUn84tri3O3Ao9/+OI4Xf4bjmS8Dw4gGSwAAAAASUVO
 RK5CYII=
