Source: fbreader
Priority: optional
Maintainer: Nikolay Pultsin <geometer@fbreader.org>
Standards-Version: 3.6.1
Build-Depends: debhelper, hildon-libs-dev, libexpat1-dev, libbz2-dev, libz-dev, libenca-dev

Package: libzlibrary-maemo2
Section: user/libs
Priority: optional
Architecture: armel
Conflicts: fbreader-maemo2 (<< 0.8.0)
Depends: ${shlibs:Depends}
Description: Platform-dependent part of fbreader
 Home page: http://www.fbreader.org/

Package: fbdictionary-maemo2
Section: user/tools
Priority: optional
Architecture: armel
Depends: ${shlibs:Depends}
Description: multi-format dictionary viewer
 Home page: http://www.fbreader.org/

Package: fbreader-maemo2
Section: user/tools
Priority: optional
Architecture: armel
Depends: ${shlibs:Depends}
Description: e-book reader
 FBReader is an e-book reader for UNIX/Windows computers.
 .
 Main features:
  * supports several open e-book formats: fb2, html, chm, plucker,
    palmdoc, ztxt, tcr (psion text), rtf, oeb, openreader, non-DRM'ed
    mobipocket, plain text
  * reads directly from tar, zip, gzip, bzip2 archives (you can have
    several books in one archive)
  * supports structured view for your e-book collection
  * automatically determines encoding
  * automatically generates table of contents
  * keeps the last open book and the last read positions for all open books
    between runs
  * automatic hyphenation (patterns for several languages are included)
 .
 Home page: http://www.fbreader.org/
Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaEAYAAAD52pCNAAAABmJLR0T/////
 //8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAABZElEQVRYw+3YsQrCMBAG
 4FNc3cSlFAQHN6fq5uIg4qbgw/gEPkyho/gO+hCCuDnYiq46yLVw9UiuaTQV
 /6UU0ybfJQ2tAI6l05nN1uvHo2j7+rcBdGCDQbO53wP0+0EwHPIwDi4GmVZQ
 BcH0et2u72cwPGL7VsvzfD9/P21QWRVUQWgQliTt9nwOwEEwDSmEdvRKNnDa
 8fl8Oh2Pcghmt7teg0ANUYKkFeQ6zs7tQlhQ2RWkM6S6T74QsqQg20thsVgu
 p1OAKArDd79zS1QMsg2hGY8nk9EIII6T5HYDuFzi+H7Pzk2T7nJ0yjmIbkwr
 bQzCJYEDp0fdGUGI7oyXndymUHRJfBuCMX71cQViDFJBpM9cWVG+KXD51Db8
 MRDG9jYsjTOfD3/Qr4Hw2TwcNpvVqlarLIiDVA6kglQGpAtxHiSFOA+SQlIQ
 XhhFYbjd8g1pxWy3L1qI3IXcvzVcR7bbS/MEn+Gj/8SF1qEAAAAASUVORK5C
 YII=
