#!/usr/bin/make -f
## ----------------------------------------------------------------------
## debian/rules : package script for fbreader
## ----------------------------------------------------------------------

## ----------------------------------------------------------------------
## uncomment this to turn on verbose mode
#export DH_VERBOSE=1

## ----------------------------------------------------------------------
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

## ----------------------------------------------------------------------
DEB_DIR		= $(CURDIR)/debian

## ----------------------------------------------------------------------
## targets

clean:
		dh_testdir
		dh_testroot
		[ ! -f Makefile ] || $(MAKE) distclean
		dh_clean build-stamp install-stamp

build:		build-stamp
build-stamp:
		dh_testdir
		$(MAKE) -C zlibrary/core TARGET_ARCH=maemo UI_TYPE=maemo2
		$(MAKE) -C zlibrary/text TARGET_ARCH=maemo UI_TYPE=maemo2
		$(MAKE) -C zlibrary/ui TARGET_ARCH=maemo UI_TYPE=maemo2
		$(MAKE) -C fbreader TARGET_ARCH=maemo UI_TYPE=maemo2
		touch build-stamp 

install:	install-stamp
install-stamp:	build
		dh_testdir
		dh_testroot
		dh_clean -k
		dh_installdirs
		$(MAKE) -C zlibrary/core TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/libzlibrary-maemo2 do_install
		$(MAKE) -C zlibrary/text TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/libzlibrary-maemo2 do_install
		$(MAKE) -C zlibrary/ui TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/libzlibrary-maemo2 do_install
		$(MAKE) -C fbreader TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/fbreader-maemo2 do_install
		$(MAKE) -C zlibrary/core TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/libzlibrary-maemo2-dev do_install_dev
		$(MAKE) -C zlibrary/text TARGET_ARCH=maemo UI_TYPE=maemo2 DESTDIR=$(DEB_DIR)/libzlibrary-maemo2-dev do_install_dev
		touch install-stamp

binary-indep:

binary-arch:	build install
		dh_testdir
		dh_testroot
		dh_compress -a
		dh_fixperms -a
		dh_installdeb -a
		dh_shlibdeps -a -l $(PWD)/debian/libzlibrary-maemo2/usr/lib
		dh_gencontrol -a
		dh_md5sums -a
		dh_builddeb -a

binary:		binary-indep binary-arch

.PHONY:		clean build install binary-indep binary-arch binary

## ----------------------------------------------------------------------
