[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=FBReader
Comment=E-Book Reader
Exec=/usr/bin/FBReader
Icon=FBReader
X-Window-Icon=FBReader
X-Window-Icon-Dimmed=FBReader
X-Osso-Service=FBReader
X-Osso-Type=application/x-executable
